---
version: '3.7'
services:
  minio:
    image: quay.io/minio/minio:latest@sha256:14cea493d9a34af32f524e538b8346cf79f3321eff8e708c1e2960462bd8936e
    command: server --console-address ":9001" /data
    hostname: minio
    environment:
      MINIO_ROOT_USER: "minio"
      MINIO_ROOT_PASSWORD: "minio123"
    volumes:
      - ./data:/data
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 30s
      timeout: 20s
      retries: 3

  transfer:
    build: ../
    hostname: transfer
    environment:
      S3_SECURE: 'false'
    ports:
      - "8080:8080"
      - "8081:8081"
