---
stages:
  - test
  - build
  - review
  - release

.go_template_defaults:
  stage: test
.semver_template_defaults:
  stage: release
include:
  - { project: fsrvcorp/templates, file: templates/language/go.yml, ref: 1.0.14 }
  - { project: fsrvcorp/templates, file: templates/release/semver.yml, ref: 1.0.14 }
  - { project: fsrvcorp/ci-templates, file: kubernetes-review.yaml, ref: 1.0.8 }

variables:
  KUBE_BASE_DIR: "${CI_PROJECT_DIR}/.it/kubernetes"

build:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug@sha256:2562c4fe551399514277ffff7dcca9a3b1628c4ea38cb017d7286dc6ea52f4cd
    entrypoint: [ "" ]
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"${CI_REGISTRY}\":{\"auth\":\"$(printf "%s:%s" "${CI_REGISTRY_USER}" "${CI_REGISTRY_PASSWORD}" | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
    - >-
      /kaniko/executor
      --context "${CI_PROJECT_DIR}"
      --dockerfile "${CI_PROJECT_DIR}/Dockerfile"
      --destination "${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG}"
      --destination "${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHORT_SHA}"
      --destination "${CI_REGISTRY_IMAGE}:latest"
      --build-arg "CI_JOB_ID=${CI_JOB_ID}"
      --build-arg "CI_COMMIT_SHORT_SHA=${CI_COMMIT_SHORT_SHA}"

review::start:
  stage: review
  needs:
    - job: build
      artifacts: false
review::stop:
  stage: review

Integration Tests:
  image: debian:stable-slim@sha256:1c25564b03942d874bf6a2b71f2062b71af8bc1475aa873c523e6f7c8fa29e60
  stage: review
  needs:
    - job: review::start
      artifacts: true
  variables:
    TESTFMT_VERSION: 1.0.3
    DEFAULT_INGRESS_URL: "https://${DEFAULT_INGRESS_URL}"
  before_script:
    - (apt update && apt install -y curl wget) > /dev/null
    - wget -q "https://github.com/bonsai-oss/testfmt/releases/download/v${TESTFMT_VERSION}/testfmt_${TESTFMT_VERSION}_linux_amd64" -O testfmt && chmod +x testfmt
  script:
    - ./testfmt -f junit -o test-results.xml -d ./.it
  artifacts:
    reports:
      junit: test-results.xml
    when: always
