name: Exporter Release
on:
  push:
    tags:
      - '*'
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          path: src/github.com/fsrv-xyz/transfer
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.4
      - name: Release
        shell: bash --noprofile --norc -x -eo pipefail {0}
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
          curl --location http://git.io/goreleaser | bash
